<div class="row h-100 w-100 mx-auto">
    <div class="w-75 mx-auto" style="margin-top:1%">
        <app-destination-choice></app-destination-choice>
        <hr>
        <app-time-choice></app-time-choice>
        <hr>
        <app-button-panel (sthgMissing) = "sthgWentWrong($event)"
                          (changeVisible) = "chgVisible($event)"></app-button-panel>
        <hr>
        <app-show-train [sthgMissing] = "sthgBroken"
                        [visible] = "visibility">{{getTrainDp()}}</app-show-train>
    </div>
</div>
